cache: false

before_install:
  - npm install -g yarn --ignore-dependencies
  - npm install -g react-native-cli
  - npm install -C browser-sign-in/
  - npm install -C custom-sign-in/

jobs:
  include:
    - language: node_js
      os: linux
      node_js: 14.15
      stage: Unit tests
      name: React Native
      script:
      - npm run test:browser
    - language: objective-c
      os: osx
      osx_image: xcode12.5
      stage: UI tests
      name: Browser Sign In      
      install:
        - gem install xcpretty
        - gem install cocoapods
        - echo -e "CLIENT_ID=${CLIENT_ID}\nISSUER=${ISSUER}\nREDIRECT_URI=${REDIRECT_URI}\nLOGOUT_REDIRECT_URI=${LOGOUT_REDIRECT_URI}" > browser-sign-in/.env
        - cd browser-sign-in/ios
        - pod install --repo-update
        - cd ../../
      script:
        - set -o pipefail && xcodebuild -workspace browser-sign-in/ios/browserSignIn.xcworkspace -scheme browserSignIn -destination 'platform=iOS Simulator,OS=latest,name=iPhone 11' -sdk iphonesimulator clean test | xcpretty
    - language: objective-c
      os: osx
      osx_image: xcode12.5
      stage: UI tests
      name: Custom Sign In      
      install:
        - gem install xcpretty
        - gem install cocoapods
        - echo -e "CLIENT_ID=${CLIENT_ID}\nISSUER=${ISSUER}\nREDIRECT_URI=${REDIRECT_URI}\nLOGOUT_REDIRECT_URI=${LOGOUT_REDIRECT_URI}" > custom-sign-in/.env
        - cd custom-sign-in/ios
        - pod install --repo-update
        - cd ../../
      script:
        - set -o pipefail && xcodebuild -workspace custom-sign-in/ios/CustomSignIn.xcworkspace -scheme CustomSignIn -destination 'platform=iOS Simulator,OS=latest,name=iPhone 11' -sdk iphonesimulator clean test | xcpretty

